$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'compass-breakpoint/stylesheets/breakpoint';
@import 'sass-bootstrap/lib/bootstrap';

.vertical .progress {
    position: relative;
    width: 20px;
    min-height: 240px;
    float: left;
    margin-right: 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

iframe {
  width: 100%;
  height: auto;
}

#main {
  position: relative;
  padding: 0;
}

#songs {
  margin-top: 10px;
  @include breakpoint(500px) {
    margin-top: 40px;
  }
}

.pager {
  margin: 0;
  margin-top: 70px;
  text-align: right;
  @include breakpoint(500px) {
    position: absolute;
    right: 0px;
    margin-top: 0px;
  }
}

#player {
  position: relative;
  @include breakpoint(500px) {
    position: absolute;
    right: 69px;
    left: 0px;
  }
}

#timeprogress {
  width: 100%;
  position: relative;
  top: 10px;
  .timecurrent,
  .timetotal {
    position: absolute;
    width: 56px;
    text-align: center;
  }
  .timetotal {
    right: 0px;
  }
  .progress-container {
    position: absolute;
    left: 60px;
    right: 60px;
    margin-top: 3px;
    .progress {
      height: 10px;
      overflow: visible;
      a.ui-slider-handle {
        outline: none;
        border-radius: 50%;
        border: 1px #bbb solid;
        background: #f2f2f2;
        width: 17px;
        height: 17px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .2) inset;
        top: -5px;
        margin-left: -2px;
        &:after {
          width: 5px;
          height: 5px;
          background-color: #aaa;
          content: " ";
          position: absolute;
          border-radius: 50%;
          top: 5px;
          left: 5px;
          box-shadow: 0px 0px 1px #fff;
        }
      }
    }
  }
  @include breakpoint(500px) {
    position: absolute;
    left: 211px;
    right: 34px;
    width: auto;
    top: 6px;
  }
}
#volumeprogress {
  button {
    position: relative;
    z-index: 1;
  }
  .volumebar {
    border: 1px #ccc solid;
    background: #FFF;
    position: absolute;
    z-index: 2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    overflow: visible;
    &.horizontal {
      right: -70px;
      top: 0;
    }
    &.vertical {
      top: 28px;
      width: 34px;
      .progress {
        margin: 3px auto;
        float: none;
        width: 8px;
      }
    }
    a.ui-slider-handle {
      outline: none;
      border-radius: 50%;
      border: 1px #bbb solid;
      background: #f2f2f2;
      width: 17px;
      height: 17px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, .2) inset;
      &:after {
        width: 5px;
        height: 5px;
        background-color: #aaa;
        content: " ";
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 5px;
        box-shadow: 0px 0px 1px #fff;
      }
    }
  }
}


button.pause {
  display: none;
}